<template>
    <div class="register">
     <h1> Create an Account </h1>
     <p> <input type='text' placeholder="Email" v-model='email'/> </p>
     <p> <input type='password' placeholder="Password" v-model='password'/> </p>
     <!-- <p> <button @click="register"> Submit </button> </p> -->
    <button type="button" @click="register" class="btn btn-dark">Submit</button>
      <!-- <div class="form-group col-sm-3">
      <input type="email" class="form-control" placeholder="Enter email">
    </div> -->
  </div>
</template>

<script setup>
import { ref } from 'vue'
import firebase from 'firebase'
import { useRouter } from 'vue-router'

const email = ref('')
const password = ref('')

const router = useRouter()

const register = () => {
    firebase
    .auth() // get the auth api
    .createUserWithEmailAndPassword(email.value, password.value) // need .value because ref()
    .then((data) => {
      console.log('Successfully registered!');
      router.push('/tasktracker') // redirect to the feed
    })
    .catch(error => {
      console.log(error.code)
      alert(error.message);
    });
}


</script>