<template>
<div class="signin">
    <h1> Login to Your Account </h1>
    <p> <input type='text' placeholder="Email" v-model='email'/> </p>
    <p> <input type='password' placeholder="Password" v-model='password'/> </p>
    <!-- <p v-if="errMsg"> {{ errMsg }} </p> -->

    <div v-if="errMsg" class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
         <strong>Oh snap!</strong> <a href="#" class="alert-link">{{ errMsg }}</a>
    </div>
    <!-- <p> <button @click="signIn"> Submit </button> </p> -->
    <button type="button" @click="signIn" class="btn btn-dark">Submit</button>
</div>
    
</template>

<script setup>
import { ref } from 'vue'
import firebase from 'firebase'
import { useRouter } from 'vue-router' // import router


const email = ref('')
const password = ref('')
const router = useRouter() // get a reference to our vue router
const errMsg = ref() // ERROR MESSAGE

const signIn = () => { // we also renamed this method 
  firebase
    .auth()
    .signInWithEmailAndPassword(email.value, password.value) // THIS LINE CHANGED
    .then((data) => {
      console.log('Successfully logged in!');
      console.log(data);
      router.push('/tasktracker') // redirect to the feed
    })
    .catch(error => {
    switch (error.code) {
        case 'auth/invalid-email':
            errMsg.value = 'Invalid email'
            break
        case 'auth/user-not-found':
            errMsg.value = 'No account with that email was found'
            break
        case 'auth/wrong-password':
            errMsg.value = 'Incorrect password'
            break  
        default:
            errMsg.value = 'Email or password was incorrect'
            break
      }
    });
}
</script>