<template>
  <div class="tasktracker">
    <div class="card">
      <div v-if="!addbtnstatus" class="card-body">
        <h4 class="card-title">All Tasks</h4>
        <div class="row">
          <div class="col-md-9">
            <div class="task-container">
              <div
                class="toast show task-box"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
                v-for="task in tasks"
                :key="task.id"
              >
                <div class="toast-header">
                  <strong class="me-auto">{{task.title}}</strong>
                  <small>{{task.date}} - {{task.time}}</small>
                  <button
                    @click="removeTask(task.id)"
                    type="button"
                    class="btn-close ms-2 mb-1"
                    data-bs-dismiss="toast"
                    aria-label="Close"
                  >
                    <span aria-hidden="true"></span>
                  </button>
                </div>
                <div class="toast-body">{{task.description}}</div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <button
              @click="addbtnstatus = !addbtnstatus"
              type="button"
              class="addbtn btn btn-success"
            >Add +</button>
          </div>
        </div>
      </div>
      <div v-if="addbtnstatus" class="card-body">
        <form>
          <fieldset>
            <div class="form-group">
              <router-link to="/tasktracker">
                <button
                  @click="addbtnstatus = !addbtnstatus"
                  type="button"
                  class="btn-close closebtn"
                  data-bs-dismiss="toast"
                  aria-label="Close"
                ></button>
              </router-link>

              <span aria-hidden="true"></span>

              <input type="text" class="form-control" placeholder="Task Title" />
              <hr />
              <label for="exampleInputEmail1" class="form-label mt-0">Date - Time</label>

              <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group date" id="datetimepicker1">
                        <input @click="show" type="text" class="form-control" />
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <textarea class="form-control mt-2" rows="3" placeholder="Task Description"></textarea>
              <button type="button" class="btn btn-success mt-4">Add Task</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
import { useRouter } from "vue-router";
import { onBeforeUnmount } from "vue";
const router = useRouter();
window.axios = require('axios');

import { tasks } from "../assets/Tasks";
import axios from 'axios';

export default {
  data() {
    return {
      tasks: tasks,
      addbtnstatus: false,
      posts: null,
      userEmail: ''
    };
  },

  components: {},

  mounted: function () {

    axios.get('https://jsonplaceholder.typicode.com/posts')
      .then(response => this.posts = response.data);

  },

  methods: {
    removeTask(id) {
      if (confirm("Are you sure ?")) {
        this.tasks = this.tasks.filter(task => task.id !== id);
      }
    }

  }
};

const authListener = firebase.auth().onAuthStateChanged(function(user) {
  if (!user) {
    // not logged in
    router.push("/");
    alert("you must be logged in to view this. redirecting to the home page");
  }
  else {
    //console.log(firebase.auth().currentUser.email);
  this.userEmail = firebase.auth().currentUser.email;
  console.log(this.userEmail)
}
});

onBeforeUnmount(() => {
  // clear up listener
  authListener();
});
</script>

<style scoped>
.addbtn {
  display: flex;
  float: right;
}
.task-container {
  display: flex;
  flex-direction: column;
  display: grid;
  justify-content: space-between;
}

.task-box {
  margin-bottom: 3px;
}
.task-box :hover {
  transform: scale(1.1, 1.1);
}
.closebtn {
  display: flex;
  float: right;
  margin-top: 0;
  margin-bottom: 5px;
}
</style>