<template>
<div id="app">
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <span v-if="!isLoggedIn"> 
      <router-link to="/sign-in">Login</router-link> |
      <router-link to="/register">Register</router-link> |
    </span> 
    <span v-if="isLoggedIn"> 
       <router-link to="/tasktracker">Task-Tracker</router-link> |
    </span>
     <router-link to="/about">About</router-link> 
    <span v-if="isLoggedIn"> 
       | <button @click="signOut" type="button" class="btn btn-primary btn-sm">Logout</button>
    </span> 

  </div>
  <router-view />
</div>
</template>

<script setup>
import { ref, watchEffect } from 'vue' // used for conditional rendering
import firebase from 'firebase'
import { useRouter } from 'vue-router'

const router = useRouter()
const isLoggedIn = ref(true)

// runs after firebase is initialized

/*
firebase.auth().onAuthStateChanged method
give us an object if the user is logged in OR null if there is no user logged in.
*/
firebase.auth().onAuthStateChanged(function(user) {
    if (user) {
      isLoggedIn.value = true // if we have a user
    } else {
      isLoggedIn.value = false // if we do not
    }
})
const signOut = () => {
  firebase.auth().signOut()
  router.push('/')
}
</script>

<style>

body {
  background-image: url('./assets/images/bg.jpg');
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: grid;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a:hover {
  color: #077ef5;
}
#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
